@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

/* HOME SECTION */

#home {
    background: linear-gradient(#000000b3, #000000b3), url("img/fondito5-transformed.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#home .content header {
    background-color: #000000b3;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#home .content header .content-header {
    font-size: 15px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

#home .content header .content-header h1 {
    text-align: center;
    font-size: 23px;
    color: #7b4b9e;
}

#home .content header .content-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#home .content header .content-header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 20px;
    font-weight: 400;
    transition: .5s;
}

#home .content header .content-header nav ul a:hover {
    color: #b486d6;
}

#home .content header .content-header .networks1 a {
    text-decoration: none;
    font-size: 22px;
    margin: 0px 2px;
    color: #7b4b9e;
    display: inline-block;
    transition: .5s;
}

#home .content header .content-header .networks1 a:hover {
    color: #ffffff;
}

#home .content header .content-header .seleccionado {
    color: #7b4b9e;
}

#home .content .presentation {
    max-width: 1000px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home .content .presentation .welcome {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#home .content .presentation h2 {
    font-size: 40px;
    text-align: center;
}

#home .content .presentation h2 span {
    color: #7b4b9e;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* ABOUT ME SECTION */

#aboutme {
    position: relative;
}

#aboutme img {
    position: absolute;
    bottom: 0px;
    left: 30px
}

#aboutme .aboutme {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 40px 100px;
    padding-bottom: 100px;
    color: #000000;
}

#aboutme .aboutme .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #7b4b9e;
}

#aboutme .aboutme p {
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: #000000;
    padding: 10px 10px;

}

/* SKILLS SECTION */

.container-skills {
    background: linear-gradient(#000000b3, #000000b3), url("img/fondito4-transformed.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 17px;
    color: #ffffff;
    background-position: center center;
    padding: 60px 0px;
    text-align: center;
}

.container-skills h3 {
    margin-bottom: 50px;
    font-size: 24px;
}

.container-skills .skill {
    max-width: 300px;
    margin: 25px auto;
}

.container-skills .skill .info {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.container-skills .skill .barra {
    background-color: #7b4b9e;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}

.container-skills .skill .barra .barra-progreso1 {
    background-color: #ffffff;
    width: 80%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.container-skills .skill .barra .barra-progreso2 {
    background-color: #ffffff;
    width: 60%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.container-skills .skill .barra .barra-progreso3 {
    background-color: #ffffff;
    width: 50%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.container-skills .skill .barra .barra-progreso4 {
    background-color: #ffffff;
    width: 45%;
    height: 6px;
    animation: progreso4 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}

/* PROJECTS SECTION */
#projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 40px;
    width: 700px;
    max-width: 70%;
    transition: box-shadow 0.3s ease;
}

.project:hover {
    box-shadow: 0 4px 8px #743e81;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#projects h2 {
    color: #7b4b9e;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 22px;
}

.project h3 {
    color:  #180029;;
    font-size: 16px;
    padding-bottom: 30px;
    text-align: center;
}

#projects p {
    color: #000000;
    font-size: 16px;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.link {
    text-align: center;
}

.project a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

/* CONTACT SECTION */

#contact {
    background: linear-gradient(#000000b3, #000000b3), url("img/fondo6.jpg");
    background-size: cover;
    background-position: center center;
    padding: 90px 0px;
}

#contact .section-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration-thickness: 5px;
}

#contact .container-form {
    max-width: 800px;
    margin: auto;
}

#contact .container-form .form {
    margin-bottom: 15px;
}

#contact .container-form .box {
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
}

#contact .container-form input,
#contact .container-form textarea {
    padding: 20px;
    border-radius: 20px;
    outline: none; 
    border: none;
}

#contact .container-form .form input {
    width: 48%;
}

#contact .container-form .input-full {
    padding: 20px;
    width: 100%;
}

#contact .btn-send {
    background-color: #ffffff;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
}

#contact .btn-send:hover {
    background-color: #2f1346;
    color: #ffffff;
}

/* FOOTER SECTION */

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 16px 0px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin: 3px;
    font-size: 17px;
}


@media screen and (max-width:800px) {
    .networks1 {
        display: none;
    }

    .networks2 {
        display: block;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background: linear-gradient(#000000b3, #000000b3);
        width: 100%;
        position: absolute;
        top: 53px;
        left: 0;
        padding: 15px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #about .content .presentation h2 {
        font-size: 40px;
    }

    #aboutme {
        padding: 50px 0;
        display: block;
    }

    #aboutme .aboutme .section-title {
        text-align: center;
    }

    #aboutme .aboutme h2 {
        font-size: 25px;
        text-align: center;
    }

    .container-skill {
        padding: 50px 20px;
    }

    #contact {
        padding: 50px 15px;
    }

    #contact .container-form .form {
        margin-bottom: 15px;
        display: block;
    }

    #contact .container-form .form input {
        width: 100%;
        margin-bottom: 30px;
    }
}