*{
    font-family: 'Lato', sans-serif;
}

:root{
    --bg-color: #b0d9f0;
    --text-color: #ffffff;
    font-size: 18px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    color: #000000;
}

p{
    margin-bottom: 0.50rem;
    line-height: 1rem;
}

footer{
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid var(--text-color);
    width: 100%;
    text-align: center;
}

.search-form{
    margin: 20px 20px;
}

.searchbox{
    padding: 10px 20px;
    background-color: var(--text-color);
    max-width: 480px;
    margin: 0px auto;
    border-radius: 5px;
}

.search{
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
}

.search:focus{
    outline: none;
}

nav{
    padding: 0px 20px;
    color: var(--text-color);
    font-size: 1rem;
}
